.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  color: #ffffff;
  font-weight: 300;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 71px;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}

.overlay .popup-form {
  background: url("../img/5.png") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #ffffff;
}

.overlay .popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.overlay .popup-form-header span {
  font-size: 24px;
}

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.overlay .popup-form__input {
  width: 365px;
  height: 56px;
  margin-top: 17px;
  border-radius: 5px;
}

.overlay .popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: #ff9d00;
}

.overlay .popup-form__note {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

header.header {
  padding-top: 64px;
}

.header {
  padding: 15px 0;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__phone {
  font-size: 22px;
  margin-right: 13px;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

@-webkit-keyframes move {
  from {
    opacity: 0;
    margin-bottom: -100px;
  }

  to {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes move {
  from {
    opacity: 0;
    margin-bottom: -100px;
  }

  to {
    opacity: 1;
    margin-bottom: 0;
  }
}

.animation {
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.section-title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.section-title::after {
  content: '';
  margin-top: 12px;
  display: block;
  height: 6px;
  background: url("../img/16.png") center no-repeat;
}

.button {
  font-size: 14px;
  background-color: #fd9c28;
  border: 1px solid transparent;
  color: #ffffff;
  padding: 13px 22px;
  border-radius: 5px;
}

.button-0 {
  background-color: transparent;
  color: #373737;
  border: 1px solid rgba(55, 55, 55, 0.5);
}

.button-0:hover {
  background-color: #fda841;
  color: #ffffff;
  border: 1px solid transparent;
  cursor: pointer;
}

.button:hover {
  background-color: #fda841;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button_big {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

.dark-bg {
  position: relative;
  z-index: 2;
}

.dark-bg::before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input:focus,
button:focus {
  outline: none;
}

.main {
  padding-top: 65px;
  padding-bottom: 65px;
  background: #373737 url("../img/4.png") center no-repeat;
  background-size: cover;
  color: #ffffff;
}

.main-img {
  position: relative;
}

.main-img::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 390px;
  height: 390px;
  left: 50%;
  margin-left: -195px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.main-text__title {
  margin-right: 20px;
  font-size: 41px;
  font-weight: 700;
}

.main-text__subtitle {
  margin-bottom: 27px;
  font-size: 28px;
  font-weight: 300;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.form-title {
  margin-bottom: 20px;
  padding-right: 87px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.form-title__important {
  font-weight: 700;
  text-transform: uppercase;
}

.form__input {
  margin-right: 10px;
  font-size: 14px;
  padding: 20px;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
  width: 100%;
  max-width: 365px;
}

.form__small {
  font-size: 14px;
  font-weight: 300;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  color: #ffffff;
  font-weight: 300;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0;
  background-color: #ff9d00;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 71px;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
}

.overlay .popup-form {
  background: url("../img/5.png") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #ffffff;
}

.overlay .popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.overlay .popup-form-header span {
  font-size: 24px;
}

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.overlay .popup-form__input {
  width: 365px;
  height: 56px;
  margin-top: 17px;
  border-radius: 5px;
}

.overlay .popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: #ff9d00;
}

.overlay .popup-form__note {
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.features {
  background-color: #f4f4f4;
  padding-top: 49px;
  padding-bottom: 55px;
}

.features-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
  background-color: #fff;
  padding: 28px 19px;
  margin-bottom: 30px;
}

.features-block__img {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-right: 9px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.features-block__descr {
  font-size: 14px;
  font-weight: 400;
}

.numbers {
  margin-bottom: 37px;
  text-align: center;
}

.numbers-block {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.numbers-block sup {
  font-size: 18px;
}

.numbers-block__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 900;
  color: #fd9c28;
}

.numbers-block__text {
  font-size: 16px;
  font-weight: 300;
}

.products {
  padding-top: 57px;
  padding-bottom: 73px;
}

.products-block {
  text-align: center;
}

.products-block__img {
  margin-bottom: 19px;
  height: 273px;
}

.products-block__title {
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 700;
}

.products-block__button {
  margin-right: 12px;
}

.offer {
  padding-top: 64px;
  padding-bottom: 69px;
  color: #ffffff;
  background: grey url("../img/17.png") left top no-repeat;
  background-size: cover;
  text-align: center;
}

.offer-title {
  font-size: 32px;
  font-weight: 300;
}

.offer-title_small {
  font-size: 26px;
  display: block;
}

.offer-form__label {
  display: block;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 300;
}

.offer-form__input {
  display: block;
  margin: auto;
  margin-bottom: 12px;
}

.offer-form__button {
  margin-bottom: 9px;
}

.production {
  padding-top: 87px;
  padding-bottom: 90px;
}

.production-slider_top {
  margin-bottom: 13px;
  height: 377px;
  overflow-y: hidden;
}

.production-slider_bottom {
  margin-left: 30px;
  padding-right: 30px;
  height: 78px;
  overflow-y: hidden;
}

.production-slider_bottom img {
  margin: 0 6px;
}

.production-text {
  max-width: 379px;
}

.production-text__title {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  background-color: #fd9c28;
  margin-left: -10%;
  margin-top: 19px;
  margin-bottom: 28px;
  padding-left: 10%;
  width: 110%;
  z-index: -1;
  font-size: 28px;
  font-weight: 300;
}

.production-text__descr {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

.container__text {
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.container__text::after {
  content: '';
  background: url("../img/img/14.png") center no-repeat;
  display: block;
  height: 6px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 22%;
  flex-basis: 22%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #e5e5e5;
  margin-bottom: 33px;
}

.hat-site {
  background: #373737;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.hat-site .section_menu {
  padding-bottom: 18px;
  padding-top: 17px;
  text-align: center;
}

.hat-site .section_menu a {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.hat-site .section_menu a:first-child {
  padding-right: 15px;
  border-right: 1px dotted #5f5f5f;
}

.hat-site .section_menu a:nth-child(2) {
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px dotted #5f5f5f;
}

.hat-site .section_menu a:nth-child(3) {
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px dotted #5f5f5f;
}

.hat-site .section_menu a:nth-child(4) {
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px dotted #5f5f5f;
}

.hat-site .section_menu a:nth-child(5) {
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px dotted #5f5f5f;
}

.hat-site .section_menu a:nth-child(6) {
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px dotted #5f5f5f;
}

.hat-site .section_menu a:nth-child(7) {
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px dotted #5f5f5f;
}

.hat-site .section_menu a:nth-child(8) {
  padding-left: 15px;
}